<!DOCTYPE html>
<html>
    <head>
        <title>Messenger App: Change Profile!</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="icon" href="logo2.png">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="/dashboard">
                <img src="logo.png" height="30" width="auto" class="d-inline-block align-top" alt="">
                MessengerApp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/create">Create Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view">View Own Posts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view-all">View All Posts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Messages <span class="hasMessage"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/send">Send Message</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/messages">View Messages <span class="hasMessage"></span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/change">Change Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div class="jumbotron">
                        <h1>Messenger App</h1>
                        <p>Hello <span id="username"></span>! Update your profile below!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img id="userPic" src="" alt="current picture" style="width: 100%; height: auto"/>
                </div>
                <div class="col-md-8">
                    <span id="changed"></span>
                    <form id="change-profile" name="change-profile">
                        <div class="form-group">
                            <label for="picture">Picture Link</label>
                            <input type="text" name="picture" class="form-control" id="picture" placeholder="Enter an image link!">
                        </div>
                        <button type="submit" class="btn btn-primary">Change Picture</button>
                    </form>
                </div>
            </div>
            <br/>
        </div>
    </body>
</html>
<script type="text/javascript">
    var user;
    function receivedMessage(){
        $(".hasMessage").html(`<b style="color: red;">New!</b>`);
    }
    $.get("/user", function(data){
        user = data;
        $("#username").text(`${user.username}`);
        if(user.received_message){
            receivedMessage();
        }
        setPic(user.picture);
    })
    function setPic(pic){
        $("#picture").val(pic);
        $("#userPic").attr("src", pic);
    }
    $("#change-profile").submit(function(event){
        event.preventDefault();
        var newPic = {
            id: user.id,
            picture: $("#picture").val().trim()
        }
        var testImage = new Image();
        testImage.onload = function(){
            updatePicture(newPic, true);
        }
        testImage.onerror = function(){
            newPic.picture = "https://ih1.redbubble.net/image.757796448.0920/flat,750x1000,075,f.u3.jpg";
            updatePicture(newPic, false);
        }
        testImage.src = newPic.picture;
    })

    function updatePicture(newPic, validLink){
        $.ajax({
            url: "/change-pic",
            method: "PUT",
            data: newPic,
            success: function(response){
                if(validLink){
                    $("#changed").text("Picture changed successfully!");
                } else {
                    $("#changed").text("Sorry, couldn't find a picture from that url!");
                }
                setPic(newPic.picture);
            },
            dataType: "json"
        })
    }
</script>