<!DOCTYPE html>
<html>
 
<head>
    <title>Messenger App!</title>
        <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="icon" href="logo2.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <a class="navbar-brand" href="/dashboard">
                <img src="logo.png" height="30" width="auto" class="d-inline-block align-top" alt="">
                MessengerApp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/create">Create Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view">View Own Posts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view-all">View All Posts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Messages <span class="hasMessage"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/send">Send Message</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/messages">View Messages <span class="hasMessage"></span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/change">Change Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div class="jumbotron">
                        <h1>Messenger App</h1>
                        <p>Welcome <span id="username"></span>! Use the navigation bar above to browse/create posts and messages.</p>
                    </div>
                </div>
            </div>
            <br/>
        </div>
</body>
 
</html>
<script type="text/javascript">
    var user;
    function receivedMessage(){
        $(".hasMessage").html(`<b style="color: red;">New!</b>`);
    }
    $.get("/user", function(data){
        user = data;
        $("#username").text(`${user.username}`);
        if(user.received_message){
            receivedMessage();
        }
    })
</script>
