<!DOCTYPE html>
<html>
    <head>
        <title>Messenger App: View Your Posts!</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="icon" href="logo2.png">
    </head>
    <style>
        .message:hover {
            border-style: outset;
            background-color: aqua;
        }
        .message {
            border-style: ridge;
            background-color: white;
        }
    </style>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/dashboard">
                <img src="logo.png" height="30" width="auto" class="d-inline-block align-top" alt="">
                MessengerApp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/create">Create Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view">View Own Posts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view-all">View All Posts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Messages <span class="hasMessage"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/send">Send Message</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/messages">View Messages <span class="hasMessage"></span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div class="jumbotron">
                        <h1>Messenger App</h1>
                        <p>Hello <span id="username"></span>! View your messages below!</p>
                    </div>
                </div>
                <div class="col-md-12" id="messages">
                    
                </div>
            </div>
            <br/>
        </div>
    </body>
</html>
<script type="text/javascript">
    var userid;
    $.get("/user", function(data){
        console.log(data);
        userid = data.id;
        $("#username").text(`${data.username}`);
        resetRM();
    })
    function resetRM(){
        var request = {
            id: userid
        }
        $.ajax({
            url: "/check",
            type: "post",
            data: request,
            success: function(data){
                getMessages();
            },
            dataType: "json"
        })
    }
    function getMessages(){
        var request = {
            userId: userid
        }
        $.ajax({
            url: "/messages",
            type: "post",
            data: request,
            success: function(data){
                $("#messages").empty();
                var messageTitle = `
                    <div class="row">
                        <div class="col-md-3"></div><div class="col-md-3"><h2>Title</h2></div><div class="col-md-6"><h2>Sender</h2></div>
                    </div>
                `;
                $("#messages").append($(messageTitle));
                for(var i = 0;i < data.length;i++){
                    var newMessage = `
                        <div class="row message" data-id="${data[i].id}">
                            <div class="col-md-3"><img src="${data[i].senderID.picture}" height="50" width="auto" alt=""/></div><div class="col-md-3" style="border-right-style:ridge">${data[i].title}</div><div class="col-md-6">Sent by ${data[i].senderID.username}</div>
                        </div>`;
                        if(!data[i].read){
                            newMessage = "<b>" + newMessage + "</b>";
                        }
                    $("#messages").append($(newMessage));
                }
                $(".message").on("click", function(message){
                    var id = $(this).data("id");
                    readMessage(id);
                });
            },
            dataType: "json"
        })
    }
    function readMessage(id, username){
        var request = {
            id: id,
            read: true
        }
        $.ajax({
            url: "/read",
            type: "post",
            data: request,
            success: function(data){
                var message = data[0];
                $("#messages").empty();
                 var content = $(`
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="${message.senderID.picture}" class="card-img" alt=""/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-header"><h4>${message.title}</h4></div>
                                <div class="card-body">
                                    <p class="card-text">
                                        ${message.body}
                                    </p>
                                    <div class="card-footer text-muted">Sent by ${message.senderID.username}</div>
                                    <a href="#" class="btn btn-primary" id="back">Back to Messages</a>
                                </div>
                            </div>
                        </div>
                    </div>`);
                $("#messages").append(content);
                $("#back").on("click", function(){
                    getMessages();
                })
            },
            dataType: "json"
        })
    }
</script>
