<!DOCTYPE html>
<html>
    <head>
        <title>Messenger App: Sign-In!</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="icon" href="logo2.png">
    </head>
    <body>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div class="jumbotron" style="background-color: rgb(230, 142, 147);">
                        <h1>Messenger App</h1>
                        <p>Please sign-in or <a href="/signup">register</a> to continue!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    {{#if error}}
                        <h3>{{error}}</h3>
                    {{/if}}
                    <form id="signin" name="signin" method="post" action="signin">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="username" name="username" class="form-control" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input name="remember" value="yes" type="checkbox" class="form-check-input" id="stay-logged-in"> Stay Logged In
                            </label>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
            <br/>
        </div>
    </body>
</html>
<script type="text/javascript">
</script>
