<!DOCTYPE html>
<html>
    <head>
        <title>Messenger App: View Your Posts!</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="icon" href="logo2.png">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/dashboard">
                <img src="logo.png" height="30" width="auto" class="d-inline-block align-top" alt="">
                MessengerApp
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/create">Create Post</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view">View Own Posts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/view-all">View All Posts</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Messages <span class="hasMessage"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/send">Send Message</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/messages">View Messages <span class="hasMessage"></span></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div class="jumbotron">
                        <h1>Messenger App</h1>
                        <p><span id="username"></span></p>
                    </div>
                </div>
                <div class="col-md-6" id="posts">
                    
                </div>
            </div>
            <br/>
        </div>
    </body>
</html>
<script type="text/javascript">
    var userid;
    var username;
    function receivedMessage(){
        $(".hasMessage").html(`<b style="color: red;">New!</b>`);
    }
    $.get("/user", function(data){
        userid = data.id;
        username = data.username;
        if(data.received_message){
            receivedMessage();
        }
        getPosts();
    })
    function getPosts(){
        var request = {
            userId: userid
        }
        $.ajax({
            url: "/posts/user",
            type: "post",
            data: request,
            success: function(data){
                $("#posts").empty();
                $("#username").text(`Hello ${username}! View your posts below!`);
                for(var i = 0;i < data.length;i++){
                var editButtons = `<button class="btn btn-primary editBtn" data-id="${data[i].id}">Edit Post</button> <button class="btn btn-danger deleteBtn" data-id="${data[i].id}">Delete Post</button>`;
                var newPost = $(`
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="${data[i].user.picture}" class="card-img" alt="${data[i].picture}"/>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        ${data[i].title}
                                    </h3>
                                    <div class="card-text">
                                        <h3>${data[i].body}</h3>
                                        ${editButtons}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`)
                $("#posts").append(newPost);
            }
            $(".editBtn").on("click", function(){
                var id = $(this).data("id");
                editPost(id);
            });
            $(".deleteBtn").on("click", function(){
                var id = $(this).data("id");
                deletePost(id);
            })
            },
            dataType: "json"
        })
    }
    function editPost(id){
        $.get(`/post/${id}`, function(data){
            $("#posts").empty();
            var post = {
                id: data[0].id,
                title: data[0].title,
                body: data[0].body
            }
            $("#username").text("Make any changes in the boxes below!");
            var editForm = `
            <span id="changes"></span>
            <form id="edit-post" name="edit-post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" value="${post.title}">
                </div>
                <div class="form-group">
                    <label for="body">Message</label>
                    <input type="text" name="body" class="form-control" id="body" value="${post.body}">
                </div>
                <button type="submit" class="btn btn-primary">Edit Post</button> <button class="btn btn-primary return">Return to Posts</button>
            </form>
            `;
            $("#posts").append(editForm);
            $(".return").on("click", function(){
                getPosts();
            });
            $("#edit-post").submit(function(event){
                event.preventDefault();
                var newPost = {
                    title: $("#title").val().trim(),
                    body: $("#body").val().trim(),
                    id: post.id
                }
                if(post.title === newPost.title && post.body === newPost.body){
                    $("#changes").text("You didn't change anything...");
                } else {
                    $.ajax({
                        method: "PUT",
                        url: "/posts",
                        data: newPost
                    }).then(function(){
                        getPosts();
                    })
                }
            })
        })
    }
    function deletePost(id){
        $.get(`/post/${id}`, function(data){
            $("#posts").empty();
            var confirmation = `
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Are you sure you want to delete post "${data[0].title}?"</h3>
                    <button class="btn btn-primary yes" data-id="${data[0].id}">Yes</button> <button class="btn btn-danger no" data-id="${data[0].id}">No</button>
                </div>
            </div>
            `;
            $("#posts").append(confirmation);
            $(".yes").on("click", function(){
                var id = $(this).data("id");
                $.ajax({
                    method: "DELETE",
                    url: "/posts/" + id
                }).then(function(){
                    getPosts();
                })
            });
            $(".no").on("click", function(){
                getPosts();
            })
        })
    }
</script>
